= render 'ruby-tips/cover'
= render 'ruby-tips/overview'
= render 'ruby-tips/enumerable_intro'
= render 'ruby-tips/map_collect'
= render 'ruby-tips/slide5'
-# = render 'ruby-tips/slide6'
-# = render 'ruby-tips/slide7'
-# = render 'ruby-tips/slide8'
-# = render 'ruby-tips/slide9'
-# = render 'ruby-tips/slide10'
-# = render 'ruby-tips/slide11'
-# = render 'ruby-tips/slide12'
-# = render 'ruby-tips/slide13'
-# = render 'ruby-tips/slide14'
-# = render 'ruby-tips/slide15'
-# = render 'ruby-tips/slide16'
-# = render 'ruby-tips/slide17'
-# = render 'ruby-tips/slide18'
-# = render 'ruby-tips/slide19'
-# = render 'ruby-tips/slide20'
-# = render 'ruby-tips/slide21'
-# = render 'ruby-tips/slide22'
-# = render 'ruby-tips/slide23'
-# = render 'ruby-tips/slide24'
