= render 'ruby-tips/cover'
= render 'ruby-tips/overview'
= render 'ruby-tips/enumerable_intro'
= render 'ruby-tips/map_collect'
= render 'ruby-tips/detect_find'
= render 'ruby-tips/inject_reduce'
= render 'ruby-tips/each_with_object'
= render 'ruby-tips/tap'
= render 'ruby-tips/tap2'
= render 'ruby-tips/hash_init'
= render 'ruby-tips/fetch'
= render 'ruby-tips/fetch2'
= render 'ruby-tips/slide12'
= render 'ruby-tips/slide13'
-# = render 'ruby-tips/slide14'
-# = render 'ruby-tips/slide15'
-# = render 'ruby-tips/slide16'
-# = render 'ruby-tips/slide17'
-# = render 'ruby-tips/slide18'
-# = render 'ruby-tips/slide19'
-# = render 'ruby-tips/slide20'
-# = render 'ruby-tips/slide21'
-# = render 'ruby-tips/slide22'
-# = render 'ruby-tips/slide23'
-# = render 'ruby-tips/slide24'
